#settings-main{
	display: flex;
	width: 100%;

	#right{
		display: flex;
		flex: 1;
		width: 100%;
		justify-content: center;
	}
}

@media(max-width: 800px){
	#settings-main{
		flex-direction: column;
	}
}