#admin{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	height: 100vh;
	padding: 15px 50px;
	margin: auto;

	#user-list-format{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
		gap: 20px;
		text-align: center;
		width: 100%;
		padding: 20px 0;
		color: #454545;
		font-size: 15px;
		font-weight: 600;
		background: white;
	}

	#users-list{
		align-items: center;
		font-weight: 500;
		background: white;

		.usersformat-users-main{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
			text-align: center;
			color: #454545;
			width: 100%;
			gap: 15px;
			padding: 20px 0px;
			font-size: 15px;
			font-weight: 500;
			overflow-y: auto;
			width: 100%;

			img{
				background: rgb(255, 71, 71);
				width: 20px;
				margin: auto;
				cursor: pointer;
			}
		}
	}

	hr{
		width: 99%;
		height: 1px;
		background: #c5c5c5;;
	}
}