#sidebar-main{
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	gap: 20px;
	width: 100%;
	max-width: 250px;
	height: 100vh;
	background: white;
	outline: 1px solid #ebebeb;

	.sidebar-item{
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0 20px;
		padding: 10px 10px;
		border-radius: 6px;
		background: #f6f6f6;
		gap: 20px;
		cursor: pointer;

		img{
			width: 80px;
			height: 50px;
		}

		#user-icon{
			height: 50px;
			width: 50px;
		}
	}
}

@media(max-width: 800px){
	#sidebar-main{
		display: flex;
		flex-direction: row;
		margin-top: 50px;
		height: 100px;
		max-width: 800px;
		justify-content: center;
		align-items: center;
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(4, 1fr);

		.sidebar-item{			
			margin: 0;
			p{
				display: none;
			}
		}
	}
}

@media(max-width: 500px){
	#sidebar-main{
		margin-top: 20px;
	}
}